* {
    box-sizing: border-box;
    margin: 1px;
    padding: 0;
    color: rgb(44, 44, 44);

}

/* header style start */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
   
}

.navbar-style {
   
    height: 55px;
    background: rgb(255, 255, 255);
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    opacity: 96%;
   
}

.nav-item{
    
     margin: 10px;
    list-style-type: none;
    text-align: center;
    height: 25px;
    padding: 3px 5px;
}

.nav-item:hover {
    background: #dedcdc;
    border-radius: 5px;
    /* border: 1px solid rgb(93, 91, 91); */
}

.button{
    /* Add black border */
    border: 1px solid rgb(193, 186, 186);
     /* Adjust border-radius for smoother rounded corners */
    border-radius: 5px;
    height: 25px;
    text-align: center;
    padding: 3px 5px;
    margin: 5px;
}
.button:hover {
    border: 2px solid rgb(93, 91, 91);
}

/* Intro style */
.intro{
    margin-top: 200px;
    height: 600px;
    text-align: center;

}